{% block body %}
{% load static %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM4KXSZR" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% for rs in header %}


    <header class="micro-nav fixed-top pload">
        <nav class="navbar navbar-expand-lg navbar-light bg-white micro-navbar">
            <a class="navbar-brand" href="/"><img alt="{{rs.title}}" src="{{rs.logo.url}}" class="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-fill">
                    <li class="nav-item"><a class="nav-link" href="#home"><i class="fa fa-house nav-icon"></i><span class="d-sm-inline d-md-none"> Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#pricing"><i class="fa-solid fa-coins nav-icon"></i> Price</a></li>
                    <li class="nav-item"><a class="nav-link" href="#sitefloorplan"><i class="fa-solid fa-sitemap nav-icon"></i> Site &amp; Floor Plan</a></li>
                    <li class="nav-item"><a class="nav-link" href="#amenities"><i class="fa-solid fa-wifi nav-icon"></i> Amenities</a></li>
                    <li class="nav-item"><a class="nav-link" href="#gallery"><i class="fa-solid fa-images nav-icon"></i> Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="#address_section"><i class="fa-solid fa-location-dot nav-icon"></i> Location</a></li>
                    <li class="nav-item"><a class="nav-link" href="#sitevisit"><i class="fa-brands fa-youtube nav-icon"></i> Virtual Site Visit </a></li>
                    <li class="nav-item overflow-hidden"><a class="nav-link enqModal" href="#" data-form="md" data-title="Download brochure" data-btn="Download now" data-enquiry="Download Brochure Toolbar" data-redirect="brochure" data-redirect-file="brochure.pdf" data-toggle="modal" data-target="#enqModal"> <i class="fa-solid fa-download nav-icon d-inline-block animated slideInDown infinite"></i> Download Brochure </a>                        </li>
                </ul>
            </div>
        </nav>
    </header>

{% endfor %}

{% endblock body %}