{% extends 'base.html' %}
{% load static %}
{% block body %}
{% for rs in header %}

<main class="pload">


<!-- SLIDER -->
    <style>
        .card-d-custom {
            width: 95%;
            justify-content: center;
            text-align: center;
            margin: 0 auto 15px;
        }
    </style>
    <div id="home" class="carousel slide micro-main-slider" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for item in slider %}
                <li data-target="#home" data-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active{% endif %}">
                </li>
            {% endfor %}
        </ol>


        <div class="carousel-inner blockimg" id="blockimg">
            {% for rs in slider %}
            <div class="carousel-item lazyloaded">
                <div class="desktopview"><img alt="{{rs.title}}" width="1200" height="400" class="d-block micro-main-slider-img" src="{{rs.web_image.url}}" fetchpriority="high" /></div>
            </div>
            {% endfor %}

           

        </div>
    </div>  
<!-- SLIDER END-->

<!-- BOOKING OPEN -->
 {% for rs in bookingopen %}
    <div class="info-box overflow-hidden">
            <!--<span class="pro-status">Booking Open: Limited Time Only</span>-->
            <div class="wrapper offer-bg-animation">
                <span class="zoom-in-zoom-out padding10">Booking Open: Limited Time Only</span>
            </div>
            <h1 class="pro-title">
                {{rs.project_name}} </h1>
            <div style="flex-wrap: wrap; display: inline-flex;padding-bottom: 10px;">
                <span class="pro-add">At {{rs.at}}</span>
                <span class="pro-dev">by {{rs.by}}</span>
            </div>
            <div class="card-d card-d-custom">
                <div>
                    <span class="heading2">Land Parcel </span>
                    <span class="heading1">{{rs.landp_arcel}}</span>
                </div>
                <div>
                    <span class="heading2">Floors </span>
                    <span class="heading1">{{rs.floors}}</span>
                </div>
                <div>
                    <span class="heading2">Possession </span>
                    <span class="heading1">{{rs.possession}}</span>
                </div>
            </div>
            <span class="d-block mb-1 text-capitalize of-box offer-bg-animation">
              <span class="offer-text-outer"> <span class="offer-text"> 
             - {{rs.spot_booking_offers}}<br/>
             - {{rs.early_buy_discounts}} <br/>
             - {{rs.flexipay_for_first}}</span>
            </span>
            </span>
            <span class="d-block" style="font-size: 14px; width: 100%; background: transparent; font-weight: bold; text-align: center; color: #fff;">
            <span class="pro-tag-line">Luxurious <b>{{rs.luxurious}}</b> Starts from</span> <span class="pro-price">₹ {{rs.priceing}} <small style="font-size:16px;">Onwards</small></span>
            <button class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale" data-form="lg" data-title="Download Brochure" data-btn="Download Now" data-enquiry="Download Brochure Left Panel" data-redirect="enquiry" data-toggle="modal" data-target="#enqModal">
            Download Brochure
        </button>
    </div>
 {% endfor %}
<!-- BOOKING OPEN OPEN-->


<!-- WELCOME TO -->
<section class="section shadow-sm lazyload" id="overview">
    <h2 class="d-block section-heading color-primary text-capitalize">
        Welcome to {{ welcome.title }}
    </h2>

    <p>{{ welcome.details }}</p>

    <p>
        <span class="more-cont" style="display: none;">
            <span class="d-block">{{ welcome.readmore }}</span>
        </span>
        <a href="#!" class="btn btn-link btn-sm more">Read more</a>
    </p>
</section>
<!-- WELCOME TO END -->


<!-- PRICING START HERE -->
   <section class="section shadow-sm lazyload" id="pricing">
        <span class="section-link"></span>
       <h2 class="head text-capitalize">{{ welcome.title }} Pricing and Carpet Area</h2>
                <div class="col-md-12">
                    <table class="table table-striped table-borderless border micro-price-table table-pricing for-desktop">
                        <thead>
                            <tr>
                                <th scope="col" class="border border-bottom-0 mb-w">Type</th>
                                <th scope="col" class="border border-bottom-0 mb-w">Carpet Area</th>
                                <th scope="col" class="border border-bottom-0 border-right-0">Price</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                       <tbody>
                        {% for item in configuration %}
                            <tr>
                                <td class="border border-left-0 border-top-0 border-bottom-0 price-type">
                                    {{ item.typology }}
                                </td>

                                <td class="border border-left-0 border-top-0 border-bottom-0 price-carpet">
                                    {{ item.rera_carpet_area }} SqFt
                                    <small class="d-inline-block d-md-none">(Carpet Area)</small>
                                </td>

                                <td class="price-amt border border-left-0 border-top-0 border-bottom-0 price-carpet">
                                    <i class="fa-solid fa-indian-rupee-sign"></i> {{ item.price }}
                                </td>

                                <td>
                                    <button class="btn btn-sm btn-info effetGradient effectScale enqModal"
                                        data-form="lg"
                                        data-title="Send me costing details"
                                        data-btn="Send Now"
                                        data-enquiry="Price Breakup"
                                        data-redirect="floorplan"
                                        data-toggle="modal" 
                                        data-target="#enqModal">
                                        Price Breakup
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                    <table class="table table-striped table-borderless border micro-price-table table-pricing for-mobile">
                        <thead>
                            <tr>
                                <th scope="col" class="border border-bottom-0 mb-w">Type</th>
                                <th scope="col" class="border border-bottom-0 mb-w">Carpet Area</th>
                                <th scope="col" class="border border-bottom-0 border-right-0">Price</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in configuration %}
                                <tr>
                                    <td class="border border-left-0 border-top-0 border-bottom-0 price-type">
                                        {{ item.typology }}
                                    </td>

                                    <td class="border border-left-0 border-top-0 border-bottom-0 price-carpet">
                                        {{ item.rera_carpet_area }} SqFt
                                    </td>

                                    <td class="price-amt border border-left-0 border-top-0 border-bottom-0 price-carpet">
                                        <i class="fa-solid fa-indian-rupee-sign"></i> {{ item.price }}
                                    </td>

                                    <td>
                                        <button class="btn btn-sm btn-info effetGradient effectScale enqModal"
                                            data-form="lg"
                                            data-title="Send me costing details"
                                            data-btn="Send Now"
                                            data-enquiry="Price Breakup"
                                            data-redirect="floorplan"
                                            data-toggle="modal" 
                                            data-target="#enqModal">
                                            Price Breakup
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
    </section>
<!-- PRICING END HERE -->

<!-- SITE AND FLOOR PLAN -->
    <section class="section shadow-sm lazyload" id="sitefloorplan" data-script="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js " data-link="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
        <span class="section-link"></span>
        <h2 class="head text-capitalize">{{welcome.title}} Master Plan</h2>
        <!--<span class="d-block section-heading-sub text-capitalize">Master Plan</span>-->
        <div class="masterplan-box">
            <a href="#" class="text-decoration-none enqModal" data-form="lg" data-title="Send me plan details" data-btn="Send Now" data-enquiry="Get Master Plan" data-redirect="enquiry" data-toggle="modal" data-target="#enqModal">
                <div class="at-property-item mt-1 shadow-sm border border-grey new-padding">
                    <div class="at-property-img master-plan text-center">
                        <img alt="Master Plan" data-sizes="auto" class="lazyload " src="{% static '' %}assets/img/floorplan/masterplan.webp" />
                        <div class="at-property-overlayer"></div>
                        <span class="btn btn-default at-property-btn">View Master Plan </span>
                    </div>
                    <div class="new-bt" style="margin-top: 20px;">
                        <div class="at-property-dis effetGradient new-border">Download Masterplan</div>
                    </div>
                </div>
            </a>
        </div>
    </section>
<!-- SITE AND FLOOR PLAN -->

<!-- AMENITIES START HERE -->
    <section class="section shadow-sm lazyload" id="amenities">
        <span class="section-link"></span>

        <div class="row">
            <div class="col-md-8">
                <h2 class="head text-capitalize">Amenities of {{welcome.title }}</h2>
            </div>
            <div class="col-md-4">
                <button 
                    class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale float-lg-right mx-sm-auto d-none d-lg-block" 
                    data-form="lg" 
                    data-title="Download Amenities" 
                    data-btn="Send Now" 
                    data-enquiry="Download Amenities" 
                    data-redirect="floorplan"
                    data-toggle="modal" 
                    data-target="#enqModal">
                    Download Amenities
                </button>
            </div>
        </div>

        <!-- AMENITIES CAROUSEL -->
        <div id="ami-3" class="ami-3 owl-carousel owl-theme">

            {% for item in amenities %}
                
                {% if forloop.counter0|divisibleby:2 %}
                <div class="item-wrp">
                {% endif %}

                    <div class="ami_sec">
                        <img 
                            data-src="{{ item.icone.url }}" 
                            alt="{{ item.title }}" 
                            loading="lazy" 
                            class="lazyload" 
                            fetchpriority="low" style="height: 250px;"
                        />
                        <p>{{ item.title }}</p>
                    </div>

                {% if forloop.counter0|add:1|divisibleby:2 or forloop.last %}
                </div>
                {% endif %}

            {% endfor %}

        </div>

        <!-- MOBILE BUTTON -->
        <div class="col-12 text-center">
            <p></p>
            <button 
                class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale float-lg-right mx-sm-auto d-lg-none" 
                data-form="lg" 
                data-title="Download Amenities" 
                data-btn="Send Now" 
                data-enquiry="Download Amenities" 
                data-redirect="floorplan" 
                data-toggle="modal"
                data-target="#enqModal">
                Download Amenities
            </button>
        </div>
    </section>

<!-- AMENITIES END HERE -->


<!-- GALLERY START HERE -->
    <section class="section shadow-sm lazyload" id="gallery">
        <span class="section-link"></span>

        <div class="row">
            <div class="col-md-8">
                <h2 class="head text-capitalize">Gallery of {{ welcome.title }}</h2>
            </div>
            <div class="col-md-4">
                <button 
                    class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale float-lg-right mx-sm-auto d-none d-lg-block"
                    data-form="lg" 
                    data-title="Download Gallery" 
                    data-btn="Send Now" 
                    data-enquiry="Download Gallery" 
                    data-redirect="floorplan"
                    data-toggle="modal" 
                    data-target="#enqModal">
                    Download Gallery
                </button>
            </div>
        </div>

        <!-- GALLERY GRID -->
        <div class="row">
            {% for img in gallery %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2">
                    <a data-fancybox="gallery-0" href="{{ img.web_image.url }}" aria-label="{{ img.title }}">
                        <img 
                            alt="{{ img.title }}"
                            data-src="{{ img.web_image.url }}"
                            class="lazyload gallery-thumb" style="height: 150px;"
                        />
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="col-12 text-center">
            <p></p>
            <button 
                class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale float-lg-right mx-sm-auto d-lg-none"
                data-form="lg" 
                data-title="Download Gallery" 
                data-btn="Send Now" 
                data-enquiry="Download Gallery" 
                data-redirect="floorplan"
                data-toggle="modal"
                data-target="#enqModal">
                Download Gallery
            </button>
        </div>

    </section>
<!-- GALLERY END HERE -->

<!-- LOCATION START HERE -->
    <style>
        iframe {
            width: 100%;
            height: 38vh;
            border: 2px solid #d7d7d7;
        }

        @media only screen and (max-width: 1024px) {
            iframe {
                width: 100%;
                height: 32vh;
                border: 2px solid #d7d7d7;
            }
        }

        @media only screen and (max-width: 992px) {
            iframe {
                width: 100%;
                height: 18vh;
                border: 2px solid #d7d7d7;
            }
        }

        @media only screen and (max-width: 800px) {
            iframe {
                width: 100%;
                height: 26vh;
                border: 2px solid #d7d7d7;
            }
        }

        @media only screen and (max-width: 768px) {
            iframe {
                width: 100%;
                height: 20vh;
                border: 2px solid #d7d7d7;
            }
        }

        @media only screen and (max-width: 500px) {
            iframe {
                width: 100%;
                height: 50vh;
                border: 2px solid #d7d7d7;
            }
        }
    </style>


    <section id="address_section" class="section shadow-sm">
        <span class="section-link" id="location"></span>

        <div class="row">
            <div class="col-md-8" style="padding-left: 0;">
                <h2 class="head text-capitalize">{{ welcome.title }} Location Map and Connectivity</h2>
            </div>
            <div class="col-md-4">
                <button 
                    class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale float-lg-right mx-sm-auto d-none d-lg-block"
                    data-form="lg" data-title="Get Directions" data-btn="Send Now"
                    data-enquiry="Get Directions" data-redirect="floorplan"
                    data-toggle="modal" data-target="#enqModal">
                    Get Directions
                </button>
            </div>
        </div>

        <div class="row mb-3">
            <!-- LEFT LOCATION MAP IMAGE -->
            <div class="col-md-5 col-12 lmap-div text-center location padding0">
                <a href="#" class="text-decoration-none enqModal"
                aria-label="Download Location Map"
                data-form="lg" data-title="Download Location Map"
                data-btn="Download now" data-enquiry="View Location Map"
                data-toggle="modal" data-target="#enqModal">

                    <div class="at-property-item mb-2">
                        <div class="at-property-img location-map lazyloaded" data-expand="-1">
                            <img 
                                alt="Location map" 
                                class="shadow-sm border border-grey lazyautosizes lazyloaded"
                                src="https://www.ruparelvivanzas.com/assets/img/locationmap.webp">
                            <div class="at-property-overlayer"></div>
                            <span class="at-property-btn">Download Location Map</span>
                        </div>
                    </div>

                </a>
            </div>

            <!-- RIGHT CONNECTIVITY ITEMS -->
            <div class="col-md-7 col-12 padding0 p-left-10">
                <div class="row">

                    {% for loc in location %}
                    <div class="col loc-pointer{% if forloop.first %} loc-pointer-first{% endif %}">
                        <div class="loc-text">
                            <i class="fa-solid fa-location-dot text-danger mr-1"></i>
                            <span>{{ loc.title }}</span>
                        </div>
                        <!-- No time because your model has no time field -->
                        <span class="text-right"></span>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <!-- MOBILE BUTTON -->
        <div class="col-12 text-center">
            <p></p>
            <button 
                class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale float-lg-right mx-sm-auto d-lg-none"
                data-form="lg" data-title="Get Directions" data-btn="Send Now"
                data-enquiry="Get Directions" data-redirect="floorplan"
                data-toggle="modal" data-target="#enqModal">
                Get Directions
            </button>
        </div>
    </section>

<!-- LOCATION END HERE -->


<!-- VIRTUAL SITE VISIT START-->
    <section class="section shadow-sm lazyloaded" id="sitevisit">
        <span class="section-link"></span>
        <span class="head text-capitalize">Virtual Tour Request</span>
        <a href="#" class="enqModal" data-form="lg" data-title="Virtual Site Visit" data-btn="Start Tour" data-enquiry="Virtual Site Visit" data-redirect="virtualtour" data-toggle="modal" data-target="#enqModal">
            <div class="at-property-item my-2 pt-md-0">
                <div class="at-property-img vsv-img lazyloaded" data-expand="-1">
                    <div class="d-block">
                        <img alt="{{welcome.title}} Virtual Image" class="img-responsive" src="{{rs.virtual_site_visit.url}}" width="100%" fetchpriority="low" />
                    </div>
                    <div class="vsv-text-bk">
                        <div class="vsv-text-bg">
                            <div class="vsv-icon lazyloaded"></div>
                            <span class="text-uppercase h1 font-weight-bold mb-0 d-none d-lg-block">Virtual Site Visit</span>
                            <span class="text-capitalize text-center d-none d-lg-block"> {{welcome.title}} </span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-center d-block d-lg-none content-clr">Virtual Site visit</span>
        </a>
    </section>
<!-- VIRTUAL SITE VISIT END-->

<!-- DEVELOPER AND RERA START HERE -->
    <section class="section shadow-sm lazyload" id="developer">

        <!-- LOGO -->
        <div class="d-block pt-2 pb-1 text-center">
            <img alt="{{ welcome.title }} Logo" 
                src="{{ rs.logo.url }}" 
                loading="lazy"
                style="max-width: 100%; height: 65px; display: inline-block;">
        </div>

        {% for rs in about_us %}
        <!-- ABOUT HEADING -->
        <div class="row">
            <div class="col-md-8">
                <span class="d-block section-heading-sub text-capitalize">
                    About {{ rs.title }}
                </span>
            </div>
            <div class="col-md-4">
                <div class="float-md-right d-none d-lg-block">
                    <button class="btn btn-info micro-form-btn enqModal effetMoveGradient effectScale drift-open-chat-desktop" data-form="lg">
                        Chat with us
                    </button>
                </div>
            </div>
        </div>

        <!-- ABOUT DETAILS -->
        <p>{{ rs.details }}</p>
        {% endfor %}

        <!-- RERA BLOCK -->
        <span class="d-block section-heading-sub1 text-capitalize">RERA Information</span>

        <div class="row">
            {% for r in maharera %}
            <div class="col-md-3">
                <div class="rera-box">
                    <div class="rera-img">
                        <img alt="{{ r.maharera_no }}" 
                            src="{{ r.qr_image.url }}" 
                            loading="lazy"
                            style="max-width: 100%; height: 100px; display: inline-block;">
                    </div>
                    <div class="rera-details">
                        <p>{{ r.title }} MahaRERA - <b>{{ r.maharera_no }}</b></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% for r in maharera %}
        <span class="pro-rera text-center-mob">{{ r.details }}</span>
        {% endfor %}


    </section>


        {% for rs in reraaditional %}
        <section style="text-align:justify;background:#f7f7f7 !important;" class="section shadow-sm lazyload" id="developer">   
        <small>
            <style>
                    .newlist { list-style: none; line-height: 25px; padding-left: 22px; text-align: left; }
                    .newlist li:before { content: '✓'; font-weight: 800;  margin-right: 10px;  font-size: 13px;  margin-left: -22px; }
            </style>

        <ul class="newlist">
                <li>{{rs.project_registered}}</li>
                <li>{{rs.Government_RERA_Authorised_Advertiser}}</li>
                <li> {{rs.RERA_Project_Registration_No}}</li>
                <li><b>Site Address:</b> {{rs.Site_Address}}</li>
                <li><b>Contact Us:</b> {{rs.Contact_Us}}</li>
            </ul>
        <b>Disclaimer:</b>
        {{rs.Disclaimer}}<hr>
        <p style="text-align:center;">Copyright &copy; 2025 | <a aria-label="About Privacy Policy" href="{% url 'privacy-policy' %}">Privacy Policy |</a></p>
        </small>
        </section>
        {% endfor %}


</main>

<style>
    .action-icon img {
        height: 22px;
        width: auto;
        margin-right: 7px;
    }

    .ft-main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0% 2%;
        font-size: 14px;
    }

    .ft-left {
        width: 82%;
    }

    .ft-right {
        width: 16%;
    }

    .acceptcookies {
        font-size: 16px;
        padding: 3px 30px;
    }

    @media (min-width: 1920px) and (max-width: 2560px) {
        .ft-main {
            font-size: 19px;
        }
    }

    @media (min-width: 2561px) and (max-width: 5120px) {
        .ft-main {
            font-size: 36px;
        }
    }

    @media (min-width: 1920px) and (max-width: 5120px) {
        .acceptcookies {
            font-size: 46px;
            padding: 3px 30px;
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .ft-main {
            display: block;
        }
        .ft-left {
            width: 100%;
            text-align: justify;
        }
        .ft-right {
            width: 100%;
        }
        .acceptcookies {
            margin-top: 10px;
            margin-left: 0px !important;
        }
    }
</style>

<!-- DEVELOPER AND RERA END HERE -->



{% endfor %}

{% endblock body %}